/* .course-card{
    text-align: left;
    box-shadow: 0px 0px 1px 2px rgb(197, 192, 192);
    color: white;
    padding: 8px;
    border-radius: 5px;
    width: 20%;
    height: 320px;
    padding: 3px;
    background-color: #17171A;
    line-height: 12px;

} */
.course-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 1px 2px rgb(197, 192, 192);
    padding: 8px;
    background-color: #17171A;
    border-radius: 5px;
    color: white;
}


.enrolled{
    background-color: lightgreen;
}