/* style for the course listing card--------------- */
.course-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 1px 2px rgb(197, 192, 192);
    padding: 8px;
    background-color: #2978FF;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}


.enrolled{
    background-color: lightgreen;
}